.black{ 
	background-color: black; 
}
.yellow{ 
	background-color: yellow;
}
.orange{
	background-color: orange;
}
.grey{
	background-color: grey;
}

.black, .yellow, .orange, .grey{
	border: 1px solid white;
	min-height: 10vmin;
	max-width: 90px;
	padding: 0px;
}

.container{
	max-height: 120vmin;
	max-width: 1008px;
}